.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

#hotel-info {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;
    position: relative; /* Dodane dla pozycjonowania przycisków */
}

#hotel-images {
    max-width: 500px; /* Nowa sekcja na zdjęcia */
    overflow: hidden;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#hotel-images img {
    width: 100%;
    border-radius: 5px;
}

#prev-image, #next-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#prev-image {
    left: 10px;
}

#next-image {
    right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

form input {
    width: 100%;
    padding: 8px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    text-decoration: underline;
}

.reviews {
    margin-top: 40px; /* Zwiększony odstęp od góry */
    border-top: 1px solid #ccc;
    padding-top: 40px; /* Zwiększony odstęp na górze */
    padding-bottom: 40px; /* Zwiększony odstęp na dole */
}

.reviews h3 {
    margin-bottom: 20px; /* Zwiększony odstęp na dole */
}

.reviews ul {
    list-style: none;
    padding: 0;
}

.reviews li {
    margin-bottom: 20px; /* Zwiększony odstęp na dole */
}

.reviews form {
    margin-top: 40px; /* Zwiększony odstęp od góry */
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.reviews form textarea {
    width: 100%;
    margin-bottom: 20px; /* Zwiększony odstęp na dole */
}

.send-form {
    margin-top: 40px; /* Zwiększony odstęp od góry */
    margin-bottom: 20px; /* Zwiększony odstęp na dole */
}